# Copyright (c) 2023 Boston Dynamics AI Institute LLC. All rights reserved.

name: Pre-Commit

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  pre-commit:
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-python@v3
      with:
        python-version: 3.9.16
    - uses: pre-commit/action@v3.0.0
